.summary {
    display: inline-flex;
    padding: 0px 0px 1px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 44px;
    width: 98px;
    margin: 16px auto 11px 0px;
}

@media only screen and (max-width: 375px) {
    .summary {
        display: flex;
        margin: 0px;
    }
}