.percentage {
    height: 152px;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

.percentageSelector {
    height: 112px;
    gap: 14px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 375px) {
    .percentage {
        height: 216px;
    }

    .percentageSelector {
        height: 176px;
    }
}