@media only screen and (min-width: 376px) {
    .inputs {
        height: 388px;
        justify-content: space-between;
        margin: 45px auto 48px 48px;
    }
}

@media only screen and (max-width: 375px) {
    .inputs {
        margin: 32px 32px auto 32px;
        gap: 32px;
    }
}