.result {
    width: 413px;
    height: 417px;
    border-radius: 15px;
    background: #00474B;
    margin: 32px 32px 32px auto;
}

@media only screen and (max-width: 375px) {
    .result {
        width: 327px;
        height: 257px;
        margin: 32px 24px 32px 24px;
    }
}

.tip {
    margin: 40px 40px auto 40px;
}

.total {
    margin: 25px 40px 122px 40px;
}

@media only screen and (max-width: 375px) {
    .tip {
        margin: 37px 22px auto 24px;
        gap: 87px;
    }

    .total {
        margin: 20px 22px 32px 24px;
        gap: 102px;
    }
}